<div id="footer">
  <p>
    &copy; WSIB, Environment: {{environmentName}}
  </p>
  <p>
    <a href="https://travis-ci.org/sakibulhasan/person-service"><img src="https://travis-ci.org/sakibulhasan/person-service.svg?branch=master" alt="Build Status"></a>
    <a href="https://codecov.io/github/sakibulhasan/person-service"><img src="https://img.shields.io/codecov/c/github/sakibulhasan/person-service.svg" alt="Coverage Status"></a>
    <a href="https://img.shields.io/github/downloads/sakibulhasan/person-service/total.svg"><img src="https://img.shields.io/github/downloads/sakibulhasan/person-service/total.svg" alt="Github All Releases"></a>
  </p>
</div>
